{% extends 'base.html' %}

{% block content %}
 <div class="col-md-4">
<h2>Export Services</h2>
<p>
Buyers and sellers wishing to export goods will benefit from the deep knowledge and experience of our Export-Import Inc. professional freight forwarding staff.

Our export services team navigates the latest regulations, minimizes paperwork, expedites transit, and lowers shipping costs with truly personalized service. Export-Import representatives attend the latest seminars and keep abreast of industry changes.

Rosa Camasta, an export services professional in our Chicago office, has been guiding shippers on export shipping logistics and the best way to move their goods via sea, truck and air since 1980. As a freight forwarding expert, she knows to ask if certain merchandise is temperature or moisture sensitive, and should be booked below a steamship’s deck, or if certain airlines should be avoided for excess delays.

Personal effects, food items, autos – Rosa’s shipped them all. “One time I did matching Porsches,” she says. “His was black; hers was white.”

But Rosa also handles less glamorous items too, such as huge boring and drilling machines, auto parts and once, even a 20-foot container of condoms headed for the Far East.
</p>
</div>

<h2>The Export Import Services Advantage</h2>
 <div class="col-md-4">

    One point of contact: An EIS specialist assigned to handle all aspects of your shipment – from door to door.
    Free, guaranteed quotes: Visit our Quote Request Page.
    Coordination of worldwide transport arrangements, such as ship to truck to warehouse to final destination, whether here or abroad.
    Support for Full Containers Load (FCL) and smaller shipments, known as Less than Container Load (LCL).
    Consolidation of multiple suppliers: For example, if a shipper is buying goods from 12 different European suppliers, the shipper can direct all of them to the Export-Import Service’s centrally located warehouse. One container with all 12 suppliers in it will ship.
    Arrangements for hazardous and oversized cargo: Our HazMat certified experts, who keep abreast of all industry regulations, will guide your imports and exports.
    Weekly LCL ocean consolidation shipments to all continents.
</div>

{% endblock %}